body {
  width: auto;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 10% 25% 45% 20%;
  background-color: rgb(247, 247, 247);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
}
header {
  grid-row: 1/2;
  grid-column: 2/3;
  margin: 0 auto;
  padding: 44px 0 50px;
  text-align: center;
}
.has-border {
  grid-row: 1/2;
  grid-column: 1/4;
  padding: 16px;
  font-size: 14px;
  text-decoration: none;
  color: black;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
}
#contact {
  color: rgb(168, 2, 2);
}
.logo {
  margin: 0px auto;
  padding: 33px;
  width: 380px;
}

footer {
  grid-row: 4/5;
  grid-column: 1/4;
  background: #252525;
  margin-top: 30px;
  padding: 36px 0 3px;
}
.rights {
  display: block;
  color: white;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.icons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  float: right;
  padding-right: 20px;
}
img {
  display: flex;
  padding-right: 5px;
  padding-left: 5px;
}