body {
  width: auto;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 15% 5% 60% 20%;
  background-color: rgb(247, 247, 247);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
  margin: 0, auto;
  padding: 0;
}
header {
  grid-row: 1/2;
  grid-column: 1/4;
  margin-top: 50px;
  text-align: center;
}
.logo {
  grid-row: 1/2;
  grid-column: 2/3;
  margin: 0 auto;
  width: 380px;
}
.has-border {
  padding: 16px;
  font-size: 20px;
  line-height: 5;
  text-decoration: none;
  color: black;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
}
.has-border:hover {
  color:  rgb(168, 2, 2);
}
#gallery {
  color: rgb(168, 2, 2);
}
h1 {
  grid-row: 2/3;
  grid-column: 2/3;
  margin-left: 27%;
  text-align: center;
  background-color: black;
  color: rgb(247, 247, 247);
  width: fit-content;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 45px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
}
main {
  grid-row: 3/4;
  grid-column: 1/4;
  margin: 0 auto;
}
.row1 {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  align-content: center;
}
.row2 {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  align-content: center;
}
.row3 {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  align-content: center;
}
.image {
  border: 1.5px solid black;
  margin: 6px 12px;
  opacity: .85;
}
.image:hover {
  opacity: 2;
  transition-duration: 0.8s;
}
footer {
  grid-row: 4/5;
  grid-column: 1/4;
  background: #252525;
  margin-top: 100px;
  height: 150PX;
  padding: 36px 0 3px;
}
.rights {
  display: block;
  color: white;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 8%;
}
.icons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  float: right;
  padding-right: 20px;
}
img {
  display: flex;
  padding-right: 5px;
  padding-left: 5px;
}

@media screen and (max-width: 850px) {
  .has-border {
    display: none;
  }
  .logo {
    margin-left: 40%;
  }
  h1 {
    margin-left: 90px;
    width: 300px;
  }
  .hamburger {
    width: 60px;
    height: 45px;
    margin-left: 63%;
    transform: rotate(0deg);
    transition: all 300ms ease-in-out;
  }
  .hamburger span {
    display: block;
    position: absolute;
    height: 8px;
    width: 100%;
    background: rgb(168, 2, 2);
    border-radius: 9px;
    opacity: 1;
    transform: rotate(0deg);
    left: 0;
    transition: all .25s ease-out;
  }
  .hamburger span:nth-child(1) {
    top: 0px;
  }
  
  .hamburger span:nth-child(2) {
    top: 18px;
  }
  
  .hamburger span:nth-child(3) {
    top: 36px;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .hamburger.hamburger-close span:nth-child(1) {
    background: rgb(168, 2, 2);
    top: 18px;
    transform: rotate(135deg);
  }
  .hamburger.hamburger-close span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  .hamburger.hamburger-close span:nth-child(3) {
    background: rgb(168, 2, 2);
    top: 18px;
    transform: rotate(-135deg);
  }
  footer {
    margin-top: 100px 0;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .logo {
    width: 320px;
  }
  .hamburger {
    width: 60px;
    height: 45px;
    margin-left: 43%;
  }
  h1 {
    grid-row: 1/3;
    grid-column: 1/4;
    margin: 230px auto;
    text-align: center;
    font-size: 40px;
  }
  main {
    grid-row: 1/4;
    grid-column: 1/4;
    margin: 380px auto 0;
  }
  .row1 {
    margin: auto;
    flex-direction: column;
  }
  .row2 {
    margin: auto;
    flex-direction: column;
  }
  .row3 {
    margin: auto;
    flex-direction: column;
  }
  footer {
    margin-top: 80%;
    width: 100%;
  }
  .rights {
    margin-left: 30px;
  }
  .icons { 
    margin-right: 60px;
  }
}
